<div class='container'>

    <h2>
        送信しました
    </h2>

    <dl>
        <dt>タイトル</dt>
        <dd><%= params[:title] %></dd>
        <dt>内容</dt>
        <dd><%= params[:body] %></dd>
    </dl>

</div>