  <%if user.is_followed_by(current_user) %>
    <%= link_to relationship_path(:id=>user.id), method: :delete do %>
        <button class='btn btn-warning'>フォロー外す</button>
    <% end %>
  <% else %>
    <%= link_to relationships_path(:id=>user.id), method: :post do %>
        <button class='btn btn-primary'>フォローする</button>
    <% end %>
  <% end %>